table.type08 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    white-space:nowrap;
    border-left: 1px solid #ccc;
    width: 1000px;
    margin: auto;
}

table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    white-space:nowrap;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type08 tbody th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    white-space:nowrap;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
table.type08 td {
    width: 150px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}