.tg {
   border-collapse: collapse;
   border-spacing: 0;
   border-color: #aaa;
    margin:auto
}

.tg td {
   font-family: Arial, sans-serif;
   font-size: 14px;
   padding: 13px 20px;
   border-style: solid;
   border-width: 0px;
   overflow: hidden;
   word-break: normal;
   border-color: #aaa;
   color: #333;
   background-color: #fff;
   border-top-width: 1px;
   border-bottom-width: 1px;
}

.tg th {
   font-family: Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   padding: 13px 20px;
   border-style: solid;
   border-width: 0px;
   overflow: hidden;
   word-break: normal;
   border-color: #aaa;
   color: #fff;
   background-color: #f38630;
   border-top-width: 1px;
   border-bottom-width: 1px;
}

.tg .tg-15mc {
   font-weight: bold;
   background-color: #ffffff;
   color: #656565;
   text-align: center;
   vertical-align: top
}

.tg .tg-qi6i {
   font-weight: bold;
   background-color: #70eb49;
   color: #ffffff;
   text-align: center;
   vertical-align: top
}

.tg .tg-2oxn {
   background-color: #ffffff;
   color: #656565;
   text-align: center;
   vertical-align: top
}